header {
  display: inline-block;
  width: 100vw;
  height: 15vh;
  text-align: center;
}

.content-wrap {
  display: flex;
  width: 100vw;
  height: 60vh;
}
.char-select {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.submit-wrap {
  display: flex;
  justify-content: center;
}

img {
  height: 17rem;
  width: 17rem;
}

body {
  background-image: url('./img/Star-Space-Animation.gif');
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}

p {
  color: white;
}
